zml/Object-Z.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://czt.sourceforge.net/object-z"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:OZ="http://czt.sourceforge.net/object-z"
  xmlns:Z="http://czt.sourceforge.net/zml"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0"
  xmlns:gnast="http://czt.sourceforge.net/gnast"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="1.1">
  <xs:annotation>
    <xs:documentation>
      Copyright 2003 Li Yuanfang, 2004 Tim Miller
      This file is part of the Community Z Tools (CZT) project.
      
      The CZT project contains free software; you can
      redistribute it and/or modify it under the terms
      of the GNU General Public License as published by
      the Free Software Foundation; either version 2 of
      the License, or (at your option) any later version.
      
      The CZT project is distributed in the hope that it
      will be useful, but WITHOUT ANY WARRANTY; without
      even the implied warranty of MERCHANTABILITY or
      FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.
      
      You should have received a copy of the GNU General
      Public License along with CZT; if not, write to the
      Free Software Foundation, Inc., 59 Temple Place,
      Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="net.sourceforge.czt.oz.jaxb.gen">
          <jaxb:javadoc>
            &lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN"&gt;
            &lt;html&gt;
            &lt;body&gt;
            &lt;p&gt;Classes generated by Jaxb.&lt;/p&gt;
            &lt;/body&gt;
            &lt;/html&gt;
          </jaxb:javadoc>
        </jaxb:package>
      </jaxb:schemaBindings>
      <gnast:schemaBindings name="Object Z">
        <gnast:package name="net.sourceforge.czt.oz">
          <gnast:package id="ast" name="ast">
            <gnast:generate id="factory" class="OzFactory" template="CoreFactory.vm"/>
          </gnast:package>
          <gnast:package id="impl" name="impl">
            <gnast:generate id="factoryImpl" class="OzFactoryImpl" template="CoreFactoryImpl.vm"/>
          </gnast:package>
          <gnast:package id="visitor" name="visitor">
            <gnast:generate id="AstVisitor" class="OzVisitor" template="AstVisitor.vm"/>
          </gnast:package>
          <gnast:package id="util" name="util">
            <gnast:generate id="convFactory" class="Factory" template="Factory.vm"/>
          </gnast:package>
          <gnast:package id="jaxb" name="jaxb">
            <gnast:generate id="AstToJaxb" class="AstToJaxb" template="AstToJaxb.vm"/>
            <gnast:generate id="JaxbToAst" class="JaxbToAst" template="JaxbToAst.vm"/>
          </gnast:package>
          <gnast:package id="dom" name="dom">
            <gnast:generate id="AstToDom" class="AstToDom" template="AstToDom.vm"/>
          </gnast:package>
        </gnast:package>
      </gnast:schemaBindings>
    </xs:appinfo>
  </xs:annotation>

  <xs:import namespace="http://czt.sourceforge.net/zml" schemaLocation="Z.xsd"/>

  <!-- Extending the Paragraph hierarchy -->
  <xs:element name="ClassPara" type="OZ:ClassPara" substitutionGroup="Z:Para"/>
  <!-- Extending the Expression hierarchy -->
  <xs:element name="ContainmentExpr" type="Z:Expr1" substitutionGroup="Z:Expr1">
    <xs:annotation>
      <xs:documentation>An object containment expression.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PolyExpr" type="Z:Expr1" substitutionGroup="Z:Expr1">
    <xs:annotation>
      <xs:documentation>A polymorphic expression.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ClassUnionExpr" type="Z:Expr2" substitutionGroup="Z:Expr2">
    <xs:annotation>
      <xs:documentation>A class union expression.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- Extending the Type hierarchy -->
  <xs:element name="ClassType" type="OZ:ClassType"
    substitutionGroup="Z:Type2">
    <xs:annotation>
      <xs:documentation>A class type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NameSignaturePair" type="OZ:NameSignaturePair">
    <xs:annotation>
      <xs:documentation>A pair of a name and a signature.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- the OpExpr hierarchy -->
  <xs:element name="OpExpr" type="OZ:OpExpr" abstract="true">
    <xs:annotation>
      <xs:documentation>An abstract operation expression.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OpExpr2" type="OZ:OpExpr2" abstract="true"
    substitutionGroup="OZ:OpExpr">
    <xs:annotation>
      <xs:documentation>An abstract binary operation expression.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DistOpExpr" type="OZ:DistOpExpr" abstract="true"
    substitutionGroup="OZ:OpExpr">
    <xs:annotation>
      <xs:documentation>An abstract distributed operation expr.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="DistConjOpExpr" type="OZ:DistOpExpr"
    substitutionGroup="OZ:DistOpExpr"/>
  <xs:element name="DistChoiceOpExpr" type="OZ:DistOpExpr"
    substitutionGroup="OZ:DistOpExpr"/>
  <xs:element name="DistSeqOpExpr" type="OZ:DistOpExpr"
    substitutionGroup="OZ:DistOpExpr"/>
  <xs:element name="AnonOpExpr" type="OZ:AnonOpExpr"
    substitutionGroup="OZ:OpExpr"/>
  <xs:element name="OpPromotionExpr" type="OZ:OpPromotionExpr"
    substitutionGroup="OZ:OpExpr"/>
  <xs:element name="RenameOpExpr" type="OZ:RenameOpExpr"
    substitutionGroup="OZ:OpExpr"/>
  <xs:element name="HideOpExpr" type="OZ:HideOpExpr"
    substitutionGroup="OZ:OpExpr"/>
  <xs:element name="ConjOpExpr" type="OZ:OpExpr2"
    substitutionGroup="OZ:OpExpr2"/>
  <xs:element name="ParallelOpExpr" type="OZ:OpExpr2"
    substitutionGroup="OZ:OpExpr2"/>
  <xs:element name="AssoParallelOpExpr" type="OZ:OpExpr2"
    substitutionGroup="OZ:OpExpr2"/>
  <xs:element name="ExChoiceOpExpr" type="OZ:OpExpr2"
    substitutionGroup="OZ:OpExpr2"/>
  <xs:element name="SeqOpExpr" type="OZ:OpExpr2"
    substitutionGroup="OZ:OpExpr2"/>
  <xs:element name="ScopeEnrichOpExpr" type="OZ:OpExpr2"
    substitutionGroup="OZ:OpExpr2"/>
  <!-- Miscellaneous -->
  <xs:element name="OpText" type="OZ:OpText">
    <xs:annotation>
      <xs:documentation>An operation text.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InheritedClass" type="OZ:InheritedClass"/>
  <xs:element name="State" type="OZ:State"/>
  <xs:element name="InitialState" type="OZ:InitialState"/>
  <xs:element name="Operation" type="OZ:Operation"/>

  <!-- Definitions of the complexTypes -->
  <xs:complexType name="ClassPara">
    <xs:complexContent>
      <xs:extension base="Z:Para">
        <xs:sequence>
          <xs:element name="Name" type="Z:DeclName"/>
          <xs:element name="FormalParameters" type="Z:DeclName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Visibility" type="Z:RefName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="OZ:InheritedClass" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="LocalDef" type="Z:Para" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="OZ:State" minOccurs="0"/>
          <xs:element ref="OZ:InitialState" minOccurs="0"/>
          <xs:element ref="OZ:Operation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InheritedClass">
    <xs:complexContent>
      <xs:extension base="Z:TermA">
        <xs:sequence>
          <xs:element name="Name" type="Z:RefName"/>
          <xs:element ref="Z:Expr" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="Z:NameNamePair" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="State">
    <xs:complexContent>
      <xs:extension base="Z:TermA">
        <xs:sequence>
          <xs:element ref="Z:Decl" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="SecondaryDecl" type="Z:Decl" minOccurs="0" maxOccurs="0"/>
          <xs:element ref="Z:Pred" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InitialState">
    <xs:complexContent>
      <xs:extension base="Z:TermA">
        <xs:sequence>
          <xs:element ref="Z:Pred" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Operation">
    <xs:complexContent>
      <xs:extension base="Z:TermA">
        <xs:sequence>
          <xs:element name="Name" type="Z:DeclName"/>
          <xs:element ref="OZ:OpExpr"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OpText">
    <xs:complexContent>
      <xs:extension base="Z:TermA">
        <xs:sequence>
          <xs:element name="Delta" type="Z:RefName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="Z:SchText"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DistOpExpr">
    <xs:complexContent>
      <xs:extension base="OZ:OpExpr">
        <xs:sequence>
          <xs:element ref="Z:SchText"/>
          <xs:element ref="OZ:OpExpr"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnonOpExpr">
    <xs:complexContent>
      <xs:extension base="OZ:OpExpr">
        <xs:sequence>
          <xs:element ref="OZ:OpText" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OpPromotionExpr">
    <xs:complexContent>
      <xs:extension base="OZ:OpExpr">
        <xs:sequence>
          <xs:element ref="Z:Expr" minOccurs="0"/>
          <xs:element name="OpName" type="Z:RefName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RenameOpExpr">
    <xs:complexContent>
      <xs:extension base="OZ:OpExpr">
        <xs:sequence>
          <xs:element ref="OZ:OpExpr"/>
          <xs:element ref="Z:NameNamePair" maxOccurs="unbounded"/>      
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HideOpExpr">
    <xs:complexContent>
      <xs:extension base="OZ:OpExpr">
        <xs:sequence>
          <xs:element ref="OZ:OpExpr"/>
          <xs:element name="Name" type="Z:RefName" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OpExpr">
    <xs:complexContent>
      <xs:extension base="Z:TermA"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OpExpr2">
    <xs:complexContent>
      <xs:extension base="OZ:OpExpr">
        <xs:sequence>
          <xs:element ref="OZ:OpExpr">
            <xs:annotation>
              <xs:appinfo>
                <jaxb:property name="LeftOpExpr"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element ref="OZ:OpExpr">
            <xs:annotation>
              <xs:appinfo>
                <jaxb:property name="RightOpExpr"/>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClassType">
    <xs:complexContent>
      <xs:extension base="Z:Type2">
        <xs:sequence>
          <xs:element name="Name" type="Z:DeclName" minOccurs="0"/>
          <xs:element name="State" type="Z:Signature" minOccurs="0"/>
          <xs:element name="ParentClass" type="Z:RefName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Attribute" type="OZ:NameSignaturePair" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Operation" type="OZ:NameSignaturePair" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Visibility" type="Z:RefName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NameSignaturePair" mixed="false">
    <xs:sequence>
      <xs:element name="Name" type="Z:DeclName" minOccurs="0"/>
      <xs:element ref="Z:Signature"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
