zml/Z.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by Mark Utting (The University of Waikato) -->
<schema targetNamespace="http://www.cs.waikato.ac.nz/~marku/zstdsubs" xmlns:Z="http://www.cs.waikato.ac.nz/~marku/zstdsubs" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<element name="Spec">
		<annotation>
			<documentation>This XML schema defines XML markup for formal specifications written in the ISO Standard Z notation</documentation>
		</annotation>
		<complexType mixed="true">
			<sequence>
				<element name="Sect" type="Z:SectType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="Creator" type="string" use="optional"/>
			<attribute name="Date" type="date" use="optional"/>
			<attribute name="Time" type="time" use="optional"/>
		</complexType>
	</element>
	<element name="Para" type="Z:ParaType" abstract="true">
		<annotation>
			<documentation>Abstract: replacable by any paragraph</documentation>
		</annotation>
	</element>
	<element name="GivenPara" substitutionGroup="Z:Para">
		<complexType>
			<complexContent>
				<extension base="Z:ParaType">
					<sequence>
						<element name="DeclName" type="Z:DeclNameType" maxOccurs="unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="AxPara" substitutionGroup="Z:Para">
		<complexType>
			<complexContent>
				<extension base="Z:ParaType">
					<sequence>
						<element name="DeclName" type="Z:DeclNameType" minOccurs="0" maxOccurs="unbounded"/>
						<element name="SchText" type="Z:SchTextType"/>
					</sequence>
					<attribute name="Box" use="optional" default="AxBox">
						<simpleType>
							<restriction base="string">
								<enumeration value="OmitBox"/>
								<enumeration value="AxBox"/>
								<enumeration value="SchBox"/>
							</restriction>
						</simpleType>
					</attribute>
					<attribute name="Mixfix" type="boolean" use="optional" default="false"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="FreePara" substitutionGroup="Z:Para">
		<complexType>
			<complexContent>
				<extension base="Z:ParaType">
					<sequence>
						<element name="FreeType" type="Z:FreeTypeType" maxOccurs="unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="ConjPara" substitutionGroup="Z:Para">
		<complexType>
			<complexContent>
				<extension base="Z:ParaType">
					<sequence>
						<element name="DeclName" type="Z:DeclNameType" minOccurs="0" maxOccurs="unbounded"/>
						<element ref="Z:Pred"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="OptempPara" substitutionGroup="Z:Para">
		<complexType>
			<complexContent>
				<extension base="Z:ParaType">
					<choice minOccurs="2" maxOccurs="unbounded">
						<element name="Word" type="string"/>
						<element name="Operand"/>
						<element name="OperandList"/>
					</choice>
					<attribute name="Cat" use="required">
						<simpleType>
							<restriction base="string">
								<enumeration value="Relation"/>
								<enumeration value="Function"/>
								<enumeration value="Generic"/>
							</restriction>
						</simpleType>
					</attribute>
					<attribute name="Assoc" use="optional" default="Left">
						<simpleType>
							<restriction base="string">
								<enumeration value="Left"/>
								<enumeration value="Right"/>
							</restriction>
						</simpleType>
					</attribute>
					<attribute name="Prec" use="required">
						<simpleType>
							<restriction base="nonNegativeInteger">
								<minInclusive value="0"/>
								<maxInclusive value="9"/>
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="UnparsedPara" substitutionGroup="Z:Para">
		<complexType>
			<complexContent>
				<extension base="Z:ParaType">
					<sequence>
						<element name="Content" type="anyType"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="Decl" type="Z:DeclType" abstract="true">
		<annotation>
			<documentation>Abstract: replacable by any declaration</documentation>
		</annotation>
	</element>
	<element name="VarDecl" substitutionGroup="Z:Decl">
		<complexType>
			<complexContent>
				<extension base="Z:DeclType">
					<sequence>
						<element name="DeclName" type="Z:DeclNameType" maxOccurs="unbounded"/>
						<element ref="Z:Expr"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="ConstDecl" substitutionGroup="Z:Decl">
		<complexType>
			<complexContent>
				<extension base="Z:DeclType">
					<sequence>
						<element name="DeclName" type="Z:DeclNameType"/>
						<element ref="Z:Expr"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="InclDecl" substitutionGroup="Z:Decl">
		<complexType>
			<complexContent>
				<extension base="Z:DeclType">
					<sequence>
						<element ref="Z:Expr"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="Stroke" abstract="true">
		<annotation>
			<documentation>Abstract: replacable by any kind of stroke</documentation>
		</annotation>
		<complexType mixed="false">
			<complexContent mixed="false">
				<extension base="Z:TermType"/>
			</complexContent>
		</complexType>
	</element>
	<element name="InStroke" type="Z:StrokeType" substitutionGroup="Z:Stroke"/>
	<element name="OutStroke" type="Z:StrokeType" substitutionGroup="Z:Stroke"/>
	<element name="NextStroke" type="Z:StrokeType" substitutionGroup="Z:Stroke"/>
	<element name="NumStroke" substitutionGroup="Z:Stroke">
		<annotation>
			<documentation>Multidigit strokes are not allowed</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="Z:StrokeType">
					<attribute name="Number" use="required">
						<simpleType>
							<restriction base="nonNegativeInteger">
								<minInclusive value="0"/>
								<maxInclusive value="9"/>
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="Expr" type="Z:ExprType" abstract="true">
		<annotation>
			<documentation>Abstract: replacable by any expression</documentation>
		</annotation>
	</element>
	<element name="RefExpr" substitutionGroup="Z:Expr">
		<complexType>
			<complexContent>
				<extension base="Z:ExprType">
					<sequence>
						<element name="RefName" type="Z:RefNameType"/>
						<element ref="Z:Expr" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
					<attribute name="Mixfix" type="boolean" use="optional" default="false"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="NumExpr" substitutionGroup="Z:Expr">
		<complexType>
			<complexContent>
				<extension base="Z:ExprType">
					<attribute name="Value" type="integer" use="required"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="PowerExpr" type="Z:Expr1Type" substitutionGroup="Z:Expr"/>
	<element name="SetExpr" type="Z:Expr0NType" substitutionGroup="Z:Expr"/>
	<element name="TupleExpr" type="Z:Expr2NType" substitutionGroup="Z:Expr"/>
	<element name="ProdExpr" type="Z:Expr2NType" substitutionGroup="Z:Expr"/>
	<element name="BindExpr" substitutionGroup="Z:Expr">
		<complexType>
			<complexContent>
				<extension base="Z:ExprType">
					<sequence minOccurs="0" maxOccurs="unbounded">
						<element name="Name" type="Z:DeclNameType"/>
						<element ref="Z:Expr"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="TupleSelExpr" substitutionGroup="Z:Expr">
		<complexType>
			<complexContent>
				<extension base="Z:Expr1Type">
					<attribute name="Select" type="positiveInteger" use="required"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="BindSelExpr" substitutionGroup="Z:Expr">
		<complexType>
			<complexContent>
				<extension base="Z:Expr1Type">
					<sequence>
						<element name="Name" type="Z:NameType"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="CondExpr" substitutionGroup="Z:Expr">
		<complexType>
			<complexContent>
				<extension base="Z:ExprType">
					<sequence>
						<element ref="Z:Pred"/>
						<element ref="Z:Expr" minOccurs="2" maxOccurs="2"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="ApplExpr" substitutionGroup="Z:Expr">
		<complexType>
			<complexContent>
				<extension base="Z:Expr2Type">
					<attribute name="Mixfix" type="boolean" use="optional" default="false"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="DecorExpr" substitutionGroup="Z:Expr">
		<complexType>
			<complexContent>
				<extension base="Z:Expr1Type">
					<sequence>
						<element name="Decor" type="Z:StrokeType"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="ThetaExpr" substitutionGroup="Z:Expr">
		<complexType>
			<complexContent>
				<extension base="Z:Expr1Type">
					<sequence>
						<element name="Stroke" type="Z:StrokeType" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SchExpr" substitutionGroup="Z:Expr">
		<complexType>
			<complexContent>
				<extension base="Z:ExprType">
					<sequence>
						<element name="SchText" type="Z:SchTextType"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="RenameExpr" substitutionGroup="Z:Expr">
		<complexType>
			<complexContent>
				<extension base="Z:Expr1Type">
					<sequence maxOccurs="unbounded">
						<element name="NewName" type="Z:DeclNameType"/>
						<element name="OldName" type="Z:RefNameType"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="NegExpr" type="Z:Expr1Type" substitutionGroup="Z:Expr">
		<annotation>
			<documentation>Schema negation</documentation>
		</annotation>
	</element>
	<element name="PreExpr" type="Z:Expr1Type" substitutionGroup="Z:Expr">
		<annotation>
			<documentation>Schema precondition</documentation>
		</annotation>
	</element>
	<element name="AndExpr" type="Z:LogExprType" substitutionGroup="Z:Expr"/>
	<element name="OrExpr" type="Z:LogExprType" substitutionGroup="Z:Expr"/>
	<element name="ImpExpr" type="Z:LogExprType" substitutionGroup="Z:Expr"/>
	<element name="IffExpr" type="Z:LogExprType" substitutionGroup="Z:Expr"/>
	<element name="CompExpr" type="Z:Expr2Type" substitutionGroup="Z:Expr"/>
	<element name="PipeExpr" type="Z:Expr2Type" substitutionGroup="Z:Expr"/>
	<element name="ProjExpr" type="Z:Expr2Type" substitutionGroup="Z:Expr"/>
	<element name="HideExpr" substitutionGroup="Z:Expr">
		<complexType>
			<complexContent>
				<extension base="Z:Expr1Type">
					<sequence>
						<element name="Hide" type="Z:RefNameType" maxOccurs="unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="ForallExpr" type="Z:Qnt1ExprType" substitutionGroup="Z:Expr"/>
	<element name="ExistsExpr" type="Z:ExistsExprType" substitutionGroup="Z:Expr"/>
	<element name="Exists1Expr" type="Z:ExistsExprType" substitutionGroup="Z:Expr"/>
	<element name="LambdaExpr" type="Z:Qnt1ExprType" substitutionGroup="Z:Expr"/>
	<element name="MuExpr" type="Z:Qnt1ExprType" substitutionGroup="Z:Expr"/>
	<element name="LetExpr" type="Z:Qnt1ExprType" substitutionGroup="Z:Expr">
		<annotation>
			<documentation>Note: the SchText should contain x==Expr only, and no predicate.</documentation>
		</annotation>
	</element>
	<element name="SetCompExpr" type="Z:QntExprType" substitutionGroup="Z:Expr"/>
	<element name="Pred" type="Z:PredType" abstract="true">
		<annotation>
			<documentation>Abstract: replacable by any predicate</documentation>
		</annotation>
	</element>
	<element name="ExprPred" substitutionGroup="Z:Pred">
		<complexType>
			<sequence>
				<element ref="Z:Expr"/>
			</sequence>
		</complexType>
	</element>
	<element name="NegPred" substitutionGroup="Z:Pred">
		<complexType>
			<sequence>
				<element ref="Z:Pred"/>
			</sequence>
		</complexType>
	</element>
	<element name="LogPred" substitutionGroup="Z:Pred">
		<complexType>
			<sequence>
				<element ref="Z:Pred" minOccurs="2" maxOccurs="2"/>
			</sequence>
			<attribute name="Log" use="required">
				<simpleType>
					<restriction base="string">
						<enumeration value="And"/>
						<enumeration value="Or"/>
						<enumeration value="Imp"/>
						<enumeration value="Iff"/>
						<enumeration value="Nl"/>
						<enumeration value="Semi"/>
						<enumeration value="Chain"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
	<element name="QntPred" substitutionGroup="Z:Pred">
		<complexType>
			<sequence>
				<element name="SchText" type="Z:SchTextType"/>
				<element ref="Z:Pred"/>
			</sequence>
			<attribute name="Qnt" use="required">
				<simpleType>
					<restriction base="string">
						<enumeration value="Forall"/>
						<enumeration value="Exists"/>
						<enumeration value="Exists1"/>
					</restriction>
				</simpleType>
			</attribute>
		</complexType>
	</element>
	<element name="MemPred" substitutionGroup="Z:Pred">
		<complexType>
			<sequence>
				<element ref="Z:Expr" minOccurs="2" maxOccurs="2"/>
			</sequence>
			<attribute name="Mixfix" type="boolean" use="optional" default="false"/>
		</complexType>
	</element>
	<element name="FalsePred" substitutionGroup="Z:Pred">
		<complexType/>
	</element>
	<element name="TruePred" substitutionGroup="Z:Pred">
		<complexType/>
	</element>
	<element name="Ann" type="Z:AnnType" abstract="true">
		<annotation>
			<documentation>Abstract: replacable by any annotation</documentation>
		</annotation>
	</element>
	<element name="TypeAnn" substitutionGroup="Z:Ann">
		<annotation>
			<documentation>Type annotations give the type of an expression/term</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="Z:AnnType">
					<sequence>
						<element ref="Z:Type"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="TypeEnvAnn" substitutionGroup="Z:Ann">
		<annotation>
			<documentation>Type environments map names to types</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="Z:AnnType">
					<sequence minOccurs="0" maxOccurs="unbounded">
						<element name="Name" type="Z:NameType"/>
						<element ref="Z:Type"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SectTypeEnvAnn" substitutionGroup="Z:Ann">
		<annotation>
			<documentation>Section-Type environments map names to (SectionName,Type) pairs</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="Z:AnnType">
					<sequence minOccurs="0" maxOccurs="unbounded">
						<element name="Name" type="Z:NameType"/>
						<element name="Sect" type="string"/>
						<element ref="Z:Type"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="LocAnn" substitutionGroup="Z:Ann">
		<annotation>
			<documentation>Location annotations define the source-code location of a construct.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="Z:AnnType">
					<attribute name="Loc" type="anyURI" use="required"/>
					<attribute name="Line" type="nonNegativeInteger" use="optional"/>
					<attribute name="Col" type="nonNegativeInteger" use="optional"/>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="ParenAnn" type="Z:AnnType" substitutionGroup="Z:Ann">
		<annotation>
			<documentation>This means unnecessary parentheses surrounded the annotated element</documentation>
		</annotation>
	</element>
	<element name="Type" type="Z:TypeType" abstract="true">
		<annotation>
			<documentation>Abstract: replacable by any Z base type</documentation>
		</annotation>
	</element>
	<element name="GivenType" substitutionGroup="Z:Type">
		<complexType>
			<complexContent>
				<extension base="Z:TypeType">
					<sequence>
						<element name="Name" type="Z:NameType"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="GenType" substitutionGroup="Z:Type">
		<complexType>
			<complexContent>
				<extension base="Z:TypeType">
					<sequence>
						<element name="Name" type="Z:NameType"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="PowerType" substitutionGroup="Z:Type">
		<complexType>
			<complexContent>
				<extension base="Z:TypeType">
					<sequence>
						<element ref="Z:Type"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="ProdType" substitutionGroup="Z:Type">
		<complexType>
			<complexContent>
				<extension base="Z:TypeType">
					<sequence>
						<element ref="Z:Type" minOccurs="2" maxOccurs="unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SchemaType" substitutionGroup="Z:Type">
		<complexType>
			<complexContent>
				<extension base="Z:TypeType">
					<sequence>
						<element name="Signature">
							<complexType>
								<sequence minOccurs="0" maxOccurs="unbounded">
									<element name="Name" type="Z:NameType"/>
									<element ref="Z:Type"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<complexType name="TermType" mixed="true">
		<annotation>
			<documentation>Supertype of ALL Z constructs</documentation>
		</annotation>
	</complexType>
	<complexType name="TermAType">
		<annotation>
			<documentation>Supertype of all ANNOTATED Z constructs</documentation>
		</annotation>
		<complexContent>
			<extension base="Z:TermType">
				<sequence>
					<element ref="Z:Ann" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SectType" mixed="true">
		<complexContent mixed="true">
			<extension base="Z:TermAType">
				<sequence>
					<element name="Name" type="string"/>
					<element name="Parent" type="Z:ParentType" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="Z:Para" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ParentType" mixed="false">
		<complexContent mixed="false">
			<extension base="Z:TermAType">
				<sequence>
					<element name="Word" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ParaType" mixed="false">
		<annotation>
			<documentation>Supertype of all paragraphs</documentation>
		</annotation>
		<complexContent mixed="false">
			<extension base="Z:TermAType"/>
		</complexContent>
	</complexType>
	<complexType name="FreeTypeType" mixed="false">
		<complexContent mixed="false">
			<extension base="Z:TermAType">
				<sequence>
					<element name="DeclName" type="Z:DeclNameType"/>
					<element name="Branch" type="Z:BranchType" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BranchType" mixed="false">
		<complexContent mixed="false">
			<extension base="Z:TermAType">
				<sequence>
					<element name="DeclName" type="Z:DeclNameType"/>
					<element ref="Z:Expr" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SchTextType" mixed="false">
		<complexContent mixed="false">
			<extension base="Z:TermAType">
				<sequence>
					<element ref="Z:Decl" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="Z:Pred" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DeclType" mixed="false">
		<annotation>
			<documentation>Supertype of all declarations</documentation>
		</annotation>
		<complexContent mixed="false">
			<extension base="Z:TermAType"/>
		</complexContent>
	</complexType>
	<complexType name="NameType" mixed="false">
		<annotation>
			<documentation>Supertype of all Z names that can be decorated</documentation>
		</annotation>
		<complexContent mixed="false">
			<extension base="Z:TermAType">
				<sequence>
					<element name="Word" type="string"/>
					<element ref="Z:Stroke" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DeclNameType">
		<complexContent>
			<extension base="Z:NameType">
				<attribute name="Id" type="ID" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RefNameType">
		<annotation>
			<documentation>The Decl=IDREF attribute points to the matching declaration, which may not be the nearest enclosing one</documentation>
		</annotation>
		<complexContent>
			<extension base="Z:NameType">
				<attribute name="Decl" type="IDREF" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StrokeType" mixed="false">
		<annotation>
			<documentation>Supertype of the four kinds of name decorations</documentation>
		</annotation>
		<complexContent mixed="false">
			<extension base="Z:TermType"/>
		</complexContent>
	</complexType>
	<complexType name="AnnType" mixed="false">
		<annotation>
			<documentation>Supertype of all annotations</documentation>
		</annotation>
		<complexContent mixed="false">
			<extension base="Z:TermType"/>
		</complexContent>
	</complexType>
	<complexType name="TypeType" mixed="false">
		<annotation>
			<documentation>Supertype of all Z base types</documentation>
		</annotation>
		<complexContent mixed="false">
			<extension base="Z:TermAType"/>
		</complexContent>
	</complexType>
	<complexType name="PredType" mixed="false">
		<annotation>
			<documentation>Supertype of all predicates</documentation>
		</annotation>
		<complexContent mixed="false">
			<extension base="Z:TermAType"/>
		</complexContent>
	</complexType>
	<complexType name="ExprType" mixed="false">
		<annotation>
			<documentation>Supertype of all expressions</documentation>
		</annotation>
		<complexContent mixed="false">
			<extension base="Z:TermAType"/>
		</complexContent>
	</complexType>
	<complexType name="Expr1Type">
		<annotation>
			<documentation>Supertype of unary expressions</documentation>
		</annotation>
		<complexContent>
			<extension base="Z:ExprType">
				<sequence>
					<element ref="Z:Expr"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Expr2Type">
		<annotation>
			<documentation>Supertype of binary expressions</documentation>
		</annotation>
		<complexContent>
			<extension base="Z:ExprType">
				<sequence>
					<element ref="Z:Expr" minOccurs="2" maxOccurs="2"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Expr0NType">
		<annotation>
			<documentation>Supertype of lists of 0..N expressions</documentation>
		</annotation>
		<complexContent>
			<extension base="Z:ExprType">
				<sequence>
					<element ref="Z:Expr" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Expr2NType">
		<annotation>
			<documentation>Supertype of lists of 2..N expressions</documentation>
			<documentation>Supertype of lists of 2..N expressions</documentation>
		</annotation>
		<complexContent>
			<restriction base="Z:Expr0NType">
				<sequence>
					<sequence>
						<element ref="Z:Ann" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
					<sequence>
						<element ref="Z:Expr" minOccurs="2" maxOccurs="unbounded"/>
					</sequence>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="LogExprType">
		<annotation>
			<documentation>Supertype of binary logical schema operators</documentation>
		</annotation>
		<complexContent>
			<extension base="Z:Expr2Type"/>
		</complexContent>
	</complexType>
	<complexType name="QntExprType">
		<annotation>
			<documentation>Supertype of all quantifier-like expressions</documentation>
		</annotation>
		<complexContent>
			<extension base="Z:ExprType">
				<sequence>
					<element name="SchText" type="Z:SchTextType"/>
					<element ref="Z:Expr" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Qnt1ExprType">
		<annotation>
			<documentation>Abstract subtype of QntExprType, with compulsory Expr</documentation>
			<documentation>Abstract subclass of QntExprType, with compulsory Expr</documentation>
		</annotation>
		<complexContent>
			<restriction base="Z:QntExprType">
				<sequence>
					<sequence>
						<element ref="Z:Ann" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
					<sequence>
						<element name="SchText" type="Z:SchTextType"/>
						<element ref="Z:Expr"/>
					</sequence>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ExistsExprType">
		<annotation>
			<documentation>Supertype of schema exists expressions</documentation>
		</annotation>
		<complexContent>
			<extension base="Z:Qnt1ExprType"/>
		</complexContent>
	</complexType>
</schema>
