gnast/src/xsd/Object-Z.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:OZ="http://czt.sourceforge.net/object-z" xmlns:Z="http://czt.sourceforge.net/zml" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:gnast="http://czt.sourceforge.net/gnast" targetNamespace="http://czt.sourceforge.net/object-z" jaxb:version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
<xs:annotation>
<xs:documentation>
      Copyright 2003 Li Yuanfang
      This file is part of the Community Z Tools (CZT) project.
      
      The CZT project contains free software; you can
      redistribute it and/or modify it under the terms
      of the GNU General Public License as published by
      the Free Software Foundation; either version 2 of
      the License, or (at your option) any later version.
      
      The CZT project is distributed in the hope that it
      will be useful, but WITHOUT ANY WARRANTY; without
      even the implied warranty of MERCHANTABILITY or
      FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.
      
      You should have received a copy of the GNU General
      Public License along with CZT; if not, write to the
      Free Software Foundation, Inc., 59 Temple Place,
      Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
<xs:appinfo>
<jaxb:schemaBindings>
<jaxb:package name="net.sourceforge.czt.oz.jaxb.gen">
<jaxb:javadoc>
            &lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN"&gt;
            &lt;html&gt;
            &lt;body&gt;
            &lt;p&gt;Classes generated by Jaxb.&lt;/p&gt;
            &lt;/body&gt;
            &lt;/html&gt;
          </jaxb:javadoc>
</jaxb:package>
</jaxb:schemaBindings>
<gnast:schemaBindings>
<gnast:package name="net.sourceforge.czt.oz">
<gnast:package id="ast" name="ast">
<gnast:generate id="factory" class="OzFactory" template="CoreFactory.vm"/>
</gnast:package>
<gnast:package id="impl" name="impl">
<gnast:generate id="factoryImpl" class="OzFactoryImpl" template="CoreFactoryImpl.vm"/>
</gnast:package>
<gnast:package id="visitor" name="visitor"/>
<gnast:package id="jaxb" name="jaxb"/>
<gnast:package id="dom" name="dom"/>
</gnast:package>
</gnast:schemaBindings>
</xs:appinfo>
</xs:annotation>
<xs:import namespace="http://czt.sourceforge.net/zml" schemaLocation="Z.xsd"/>
<!-- the Paragraph hierarchy -->
<xs:element name="ClassPara" type="OZ:ClassPara" substitutionGroup="Z:Para">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="ClassParaElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<!-- OperationBoxExpr hierarchy -->
<xs:element name="OperationBoxExpr" type="OZ:OperationBoxExpr" abstract="true">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="OperationBoxExprElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="OperationBox" type="OZ:OperationBox" substitutionGroup="OZ:OperationBoxExpr">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="OperationBoxElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<!-- the OperationExpr hierarchy -->
<xs:element name="OperationExpr" type="OZ:OperationExpr" substitutionGroup="OZ:OperationBoxExpr" abstract="true">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="OperationExprElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="DistConjOpExpr" type="OZ:DistOpExpr" substitutionGroup="OZ:OperationExpr"/>
<xs:element name="DistChoiceOpExpr" type="OZ:DistOpExpr" substitutionGroup="OZ:OperationExpr"/>
<xs:element name="DistSeqOpExpr" type="OZ:DistOpExpr" substitutionGroup="OZ:OperationExpr"/>
<xs:element name="BasicOpExpr" type="OZ:BasicOpExpr" substitutionGroup="OZ:OperationExpr">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="BasicOpExprElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="OpPromotionExpr" type="OZ:OpPromotionExpr" substitutionGroup="OZ:OperationExpr">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="OpPromotionExprElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="RenameOpExpr" type="OZ:RenameOpExpr" substitutionGroup="OZ:OperationExpr">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="RenameOpExprElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="HideOpExpr" type="OZ:HideOpExpr" substitutionGroup="OZ:OperationExpr">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="HideOpExprElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="ConjOpExpr" type="OZ:TwoOpExpr" substitutionGroup="OZ:OperationExpr"/>
<xs:element name="ParallelOpExpr" type="OZ:TwoOpExpr" substitutionGroup="OZ:OperationExpr"/>
<xs:element name="AssoParallelOpExpr" type="OZ:TwoOpExpr" substitutionGroup="OZ:OperationExpr"/>
<xs:element name="ExChoiceOpExpr" type="OZ:TwoOpExpr" substitutionGroup="OZ:OperationExpr"/>
<xs:element name="SeqOpExpr" type="OZ:TwoOpExpr" substitutionGroup="OZ:OperationExpr"/>
<xs:element name="ScopeEnrichOpExpr" type="OZ:TwoOpExpr" substitutionGroup="OZ:OperationExpr"/>
<xs:element name="ParenOpExpr" type="OZ:OperationExpr" substitutionGroup="OZ:OperationExpr">
<xs:annotation>
<xs:documentation>Parenthesized operation expression</xs:documentation>
</xs:annotation>
</xs:element>
<!-- Miscellaneous -->
<xs:element name="FormalParameters" type="OZ:FormalParameters">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="FormalParametersElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="RefNameList" type="OZ:RefNameList">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="RefNameListElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="DeclNameList" type="OZ:DeclNameList">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="DeclNameListElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="InheritedClass" type="OZ:InheritedClass">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="InheritedClassElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="ActualParameters" type="OZ:ActualParameters">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="ActualParametersElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="State" type="OZ:State">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="StateElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="RenameList" type="OZ:RenameList">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="RenameListElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="InitialState" type="OZ:InitialState">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="InitialStateElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="LocalDef" type="OZ:LocalDef">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="LocalDefElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="SecondaryAttributes" type="OZ:SecondaryAttributes">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="SecondaryAttributesElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="Operation" type="OZ:Operation">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="OperationElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="MainOpExpr" type="OZ:MainOpExpr">
<xs:annotation>
<xs:appinfo>
<jaxb:class name="MainOpExprElement"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<!-- Definitions of the complexTypes -->
<xs:complexType name="ClassPara">
<xs:annotation>
<xs:documentation>New addition of Object-Z construct: class definition added by Li Yuanfang</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="Z:Para">
<xs:sequence>
<xs:element name="Name" type="Z:DeclName"/>
<xs:element ref="OZ:FormalParameters" minOccurs="0"/>
<xs:element name="VisibilityList" type="OZ:DeclNameList" minOccurs="0"/>
<xs:element ref="OZ:InheritedClass" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="OZ:LocalDef" minOccurs="0"/>
<xs:element ref="OZ:State" minOccurs="0"/>
<xs:element ref="OZ:InitialState" minOccurs="0"/>
<xs:element ref="OZ:Operation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="FormalParameters">
<xs:complexContent>
<xs:extension base="Z:TermA">
<xs:sequence>
<xs:element ref="Z:RefName" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="RefNameList">
<xs:complexContent>
<xs:extension base="Z:TermA">
<xs:sequence>
<xs:element name="Name" type="Z:RefName" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="DeclNameList">
<xs:complexContent>
<xs:extension base="Z:TermA">
<xs:sequence>
<xs:element name="Name" type="Z:DeclName" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="InheritedClass">
<xs:complexContent>
<xs:extension base="Z:TermA">
<xs:sequence>
<xs:element name="Name" type="Z:RefName"/>
<xs:element ref="OZ:ActualParameters" minOccurs="0"/>
<xs:element ref="OZ:RenameList" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ActualParameters">
<xs:complexContent>
<xs:extension base="Z:TermA">
<xs:sequence>
<xs:element ref="Z:Expr" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="RenameList">
<xs:complexContent>
<xs:extension base="Z:TermA">
<xs:sequence>
<xs:element ref="Z:RenameExpr"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="LocalDef">
<xs:complexContent>
<xs:extension base="Z:TermA">
<xs:sequence>
<xs:element ref="Z:GivenPara" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="Z:AxPara" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="Z:FreePara" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="State">
<xs:complexContent>
<xs:extension base="Z:TermA">
<xs:sequence>
<xs:element ref="Z:Decl" maxOccurs="unbounded"/>
<xs:element ref="OZ:SecondaryAttributes" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="Z:Pred" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="SecondaryAttributes">
<xs:annotation>
<xs:documentation>Secondary attribute</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="Z:Decl"/>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="InitialState">
<xs:complexContent>
<xs:extension base="Z:TermA">
<xs:sequence>
<xs:element ref="Z:Pred" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Operation">
<xs:complexContent>
<xs:extension base="Z:TermA">
<xs:sequence>
<xs:element name="Name" type="Z:DeclName"/>
<xs:element ref="OZ:OperationBoxExpr"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="OperationBoxExpr">
<xs:complexContent>
<xs:extension base="Z:TermA"/>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="OperationBox">
<xs:complexContent>
<xs:extension base="OZ:OperationBoxExpr">
<xs:sequence>
<xs:element name="DeltaList" type="OZ:RefNameList" minOccurs="0"/>
<xs:element ref="Z:Decl" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="Z:Pred" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="OperationExpr">
<xs:annotation>
<xs:documentation>Super type for all operation expressions</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="OZ:OperationBoxExpr"/>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="MainOpExpr">
<xs:complexContent>
<xs:extension base="OZ:OperationExpr">
<xs:sequence>
<xs:element ref="Z:SchText"/>
<xs:element ref="OZ:OperationExpr"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="DistOpExpr">
<xs:complexContent>
<xs:extension base="OZ:OperationExpr">
<xs:sequence>
<xs:element ref="OZ:MainOpExpr"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BasicOpExpr">
<xs:complexContent>
<xs:extension base="OZ:OperationExpr">
<xs:sequence>
<xs:element name="DeltaList" type="OZ:RefNameList" minOccurs="0"/>
<xs:element ref="Z:SchText" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="OpPromotionExpr">
<xs:annotation>
<xs:documentation>The class name is now made to be optional to conform to TCOZ syntax -- Li Yuanfang</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="OZ:OperationExpr">
<xs:sequence>
<xs:element ref="Z:Expr" minOccurs="0"/>
<xs:element name="OpName" type="Z:RefName"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="RenameOpExpr">
<xs:complexContent>
<xs:extension base="OZ:OperationExpr">
<xs:sequence>
<xs:element ref="OZ:OperationExpr"/>
<xs:element ref="OZ:RenameList" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="HideOpExpr">
<xs:complexContent>
<xs:extension base="OZ:OperationExpr">
<xs:sequence>
<xs:element ref="OZ:OperationExpr"/>
<xs:element name="HideName" type="Z:RefName" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TwoOpExpr">
<xs:annotation>
<xs:documentation>This complexType is only for convenience purposes. No element in an actual XML document should be of TwoOpExpr type.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="OZ:OperationExpr">
<xs:sequence>
<xs:element ref="OZ:OperationExpr">
<xs:annotation>
<xs:appinfo>
<jaxb:property name="LeftOperationExpr"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element ref="OZ:OperationExpr">
<xs:annotation>
<xs:appinfo>
<jaxb:property name="RightOperationExpr"/>
</xs:appinfo>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
