zml/src/main/resources/net/sourceforge/czt/zml/xsd/CircusTime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Despite other extensions having xmlns inclusion top-down and some bottom-up,
  the top-down approach (i.e. circus, zpatt, zml) was creating problems for GnAST.
-->
<xs:schema  
  targetNamespace="http://czt.sourceforge.net/circustime"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:Z="http://czt.sourceforge.net/zml"
  xmlns:P="http://czt.sourceforge.net/zpatt"
  xmlns:CIRCUS="http://czt.sourceforge.net/circus"
  xmlns:CP="http://czt.sourceforge.net/circuspatt"
  xmlns:CT="http://czt.sourceforge.net/circustime"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0"
  xmlns:gnast="http://czt.sourceforge.net/gnast"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="0.1">
  <xs:annotation>
    <xs:documentation>
      Copyright 2012 Leo Freitas
      $Id$
      
      This XML schema defines XML markup for formal specifications 
      written in Circus Time, a concurrent language for refinement that
      combines CSP, Z and the refinement calculus with time operators.
      More information at <a href="http://www.cs.york.ac.uk/~circus">Circus main web page</a>.
      
      This file is part of the Community Z Tools (CZT) project.
      
      The CZT project contains free software; you can
      redistribute it and/or modify it under the terms
      of the GNU General Public License as published by
      the Free Software Foundation; either version 2 of
      the License, or (at your option) any later version.
      
      The CZT project is distributed in the hope that it
      will be useful, but WITHOUT ANY WARRANTY; without
      even the implied warranty of MERCHANTABILITY or
      FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.
      
      You should have received a copy of the GNU General
      Public License along with CZT; if not, write to the
      Free Software Foundation, Inc., 59 Temple Place,
      Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="net.sourceforge.czt.circustime.jaxb.gen">
          <jaxb:javadoc>
            &lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN"&gt;
            &lt;html&gt;
            &lt;body&gt;
            &lt;p&gt;Classes generated by Jaxb.&lt;/p&gt;
            &lt;/body&gt;
            &lt;/html&gt;
          </jaxb:javadoc>
        </jaxb:package>
      </jaxb:schemaBindings>
      <gnast:schemaBindings name="CircusTime">
        <gnast:package name="net.sourceforge.czt.circustime">
          <gnast:package id="ast" name="ast">
            <gnast:generate id="factory" class="CircusTimeFactory" template="CoreFactory.vm"/>
            <gnast:javadoc>
              &lt;p&gt;
              These interfaces represent the AST for Circus Time. 
              &lt;/p&gt;
            </gnast:javadoc>
          </gnast:package>
          <gnast:package id="impl" name="impl">
            <gnast:generate id="factoryImpl" class="CircusTimeFactoryImpl" template="CoreFactoryImpl.vm"/>
          </gnast:package>
          <gnast:package id="visitor" name="visitor">
            <gnast:generate id="AstVisitor" class="CircusTimeVisitor" template="AstVisitor.vm"/>
          </gnast:package>
          <gnast:package id="util" name="util">
            <gnast:generate id="convFactory" class="Factory" template="Factory.vm"/>
          </gnast:package>
          <!-- NOT YET...
          <gnast:package id="util" name="util">
            <gnast:generate id="flyFactory" class="FlyweightFactory"
              template="FlyweightFactory.vm"/>
          </gnast:package>
          <gnast:package id="util" name="util">
            <gnast:generate id="createVisitor" class="CreateVisitor"
              template="CreateVisitor.vm"/>
          </gnast:package>
          -->
          <gnast:package id="jaxb" name="jaxb">
            <gnast:generate id="AstToJaxb" class="AstToJaxb" template="AstToJaxb.vm"/>
            <gnast:generate id="JaxbToAst" class="JaxbToAst" template="JaxbToAst.vm"/>
          </gnast:package>
          <gnast:package id="dom" name="dom">
            <gnast:generate id="AstToDom" class="AstToDom" template="AstToDom.vm"/>
          </gnast:package>
        </gnast:package>
      </gnast:schemaBindings>
    </xs:appinfo>
  </xs:annotation>
  
  <!-- NOTE: GnAST considers the first import only in the SchemaProject build phase,
             so always put ZPattern.xsd first for Circus.xsd (i.e. innermost parent).
   -->
  <xs:import namespace="http://czt.sourceforge.net/circuspatt" schemaLocation="CircusPattern.xsd"/>  
  <xs:import namespace="http://czt.sourceforge.net/circus" schemaLocation="Circus.xsd"/>  
  <xs:import namespace="http://czt.sourceforge.net/zpatt" schemaLocation="ZPattern.xsd"/>  
  <xs:import namespace="http://czt.sourceforge.net/zml" schemaLocation="Z.xsd"/>
  
  <!-- ********************************************************************* -->
  <!-- Definitions of the elements in the order of appearance in the grammar -->
  <!-- ********************************************************************* -->

  <!-- Section level paragraphs -->
  
  
  <!-- Section level declarations -->  
  
  <!-- NONE -->

  <!-- Channel declaration -->
  
  <!-- NONE -->
  
  <!-- Processes -->    
  
  <!-- Process :: Unary with Declaration -->
  <!-- Process :: Basic -->
  <!-- Process :: Call -->
  <!-- Process :: Unary  -->  
  <!-- Process Definition :: Binary -->  
  <!-- Process Definition :: Expressions -->
  <!-- Process Definition :: Unary :: Declaration :: Iterated -->
  <!-- Process Definition :: Unary :: Declaration :: Iterated :: Indexed -->
  
  <!-- Action Para -->
  
  <!-- Name Set Paragraphs -->
  <!-- Name Set Expressions -->
  
  <!-- Action Description -->     
  
  <!-- Actions -->    
  
  <!-- Action :: Unary with Declaration -->
  <!-- Action :: Commands (base class) -->
  <!-- Action :: Schema-Exp -->  
  <!-- Action :: Call -->  
  <!-- CSP Action :: Basic -->      

  <!-- Wait Action -->
  <xs:element name="WaitAction" type="CT:WaitAction" substitutionGroup="CIRCUS:BasicAction">
    <xs:annotation>
      <xs:documentation>
        Wait action of Circus Time.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- Wait Action -->
  <xs:complexType name="WaitAction">
    <xs:complexContent>
      <xs:extension base="CIRCUS:BasicAction">
        <xs:sequence>
          <xs:element ref="Z:Expr"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  
  
  

  <!-- CSP Process :: Unary -->  
  
  
   <xs:element name="ProcessTime1" type="CT:ProcessTime1" substitutionGroup="CIRCUS:Process1" abstract="true">
    <xs:annotation>
      <xs:documentation>
	Base class for unary Circus time processes
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="ProcessTime1">
    <xs:complexContent>
      <xs:extension base="CIRCUS:Process1">
        <xs:sequence>
          <xs:element ref="Z:Expr"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
 
  <xs:element name="TimeEndByProcess" type="CT:ProcessTime1" substitutionGroup="CT:ProcessTime1">
    <xs:annotation>
      <xs:documentation>
        Deadline process of Circus Time (End).
      </xs:documentation>
    </xs:annotation>
  </xs:element>

 <xs:element name="TimeStartByProcess" type="CT:ProcessTime1" substitutionGroup="CT:ProcessTime1">
    <xs:annotation>
      <xs:documentation>
        Deadline process of Circus Time (Start).
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  
   <!-- CSP Process :: Binary -->  

  <xs:element name="ProcessTime2" type="CT:ProcessTime2" substitutionGroup="CIRCUS:Process2" abstract="true">
    <xs:annotation>
      <xs:documentation>
	Base class for binary Circus time processes
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="ProcessTime2">
    <xs:complexContent>
      <xs:extension base="CIRCUS:Process2">
        <xs:sequence>
          <xs:element ref="Z:Expr"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
   
<xs:element name="TimeoutProcess" type="CT:ProcessTime2" substitutionGroup="CT:ProcessTime2">
    <xs:annotation>
      <xs:documentation>
        Timeout process of the Circus Time.
      </xs:documentation>
    </xs:annotation>
  </xs:element>


  
  <xs:element name="TimedinterruptProcess" type="CT:ProcessTime2" substitutionGroup="CT:ProcessTime2">
    <xs:annotation>
      <xs:documentation>
        Timed Interrupt process of the Circus Time.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

 
    <!-- CSP Action :: Unary -->  
  
  
     <xs:element name="ActionTime1" type="CT:ActionTime1" substitutionGroup="CIRCUS:Action1" abstract="true">
    <xs:annotation>
      <xs:documentation>
	Base class for unary Circus time action
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="ActionTime1">
    <xs:complexContent>
      <xs:extension base="CIRCUS:Action1">
        <xs:sequence>
          <xs:element ref="Z:Expr"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  
  <xs:element name="TimeEndByAction" type="CT:ActionTime1" substitutionGroup="CT:ActionTime1">
    <xs:annotation>
      <xs:documentation>
        Deadline process of Circus Time (End).
      </xs:documentation>
    </xs:annotation>
  </xs:element>

 <xs:element name="TimeStartByAction" type="CT:ActionTime1" substitutionGroup="CT:ActionTime1">
    <xs:annotation>
      <xs:documentation>
        Deadline process of Circus Time (Start).
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
   <!-- CSP Action :: Binary -->  
    
  
   <xs:element name="ActionTime2" type="CT:ActionTime2" substitutionGroup="CIRCUS:Action2" abstract="true">
    <xs:annotation>
      <xs:documentation>
	Base class for binary Circus time action
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="ActionTime2">
    <xs:complexContent>
      <xs:extension base="CIRCUS:Action2">
        <xs:sequence>
          <xs:element ref="Z:Expr"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
   
<xs:element name="TimeoutAction" type="CT:ActionTime2" substitutionGroup="CT:ActionTime2">
    <xs:annotation>
      <xs:documentation>
        Timeout action.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  
  <xs:element name="TimedinterruptAction" type="CT:ActionTime2" substitutionGroup="CT:ActionTime2">
    <xs:annotation>
      <xs:documentation>
        Timed Interrupt action.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  
 <xs:element name="WaitRangeAction" type="CT:ActionTime1" substitutionGroup="CT:ActionTime1">
    <xs:annotation>
      <xs:documentation>
        Timed Range action.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
    
  <xs:element name="PrefixingExprAction" type="CT:PrefixingAction" substitutionGroup="CIRCUS:Action1">
    <xs:annotation>
      <xs:documentation>
        Prefixing Expression action.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  
 <xs:element name="AtPrefixingAction" type="CT:PrefixingAction" substitutionGroup="CIRCUS:Action1">
    <xs:annotation>
      <xs:documentation>
        At Prefixing  action.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="AtPrefixingExprAction" type="CT:PrefixingAction" substitutionGroup="CIRCUS:Action1">
    <xs:annotation>
      <xs:documentation>
       At Prefixing Expression action.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  -->
  
  <!-- LF: Neeraj, add the other productions here -->
  
  <!-- CSP Action :: Unary :: Declaration :: Iterated -->
  
  <!-- Communication --> 
  <!-- Communication Fields --> 
  
  <!-- Circus declarations -->  
  <!-- Circus Commands -->
  
  <!-- Circus predicates -->
  
  
  <!-- Additional top-level types in Circus -->
  
  <!-- LF: Neeraj, when you do the typechecker you need to add new types here -->
  
  <!-- Additional process-level types in Circus -->

  <!-- Additional top-level signatures in Circus -->
  
  <!-- LF: Neeraj, when you do the typechecker you need to add new signatures here -->
  
  <!-- Additional process-level signatures in Circus -->
  
  <!-- LF: Neeraj, when you do the typechecker you need to add new signatures here -->
    
  <!-- Lists used by Circus elements -->
  
  <!-- LF: Neeraj, when you do the typechecker you need to add circus time lists here -->
    
  <!-- Term Annotations defined by Circus -->
  
  
  <!-- ***************************************************************** -->
  <!-- Definitions of complexTypes in the order of usage by the elements -->
  <!-- ***************************************************************** -->

  <!-- Outermost Paragraph Types -->
  
  <!-- Channel Set Expression complexTypes -->
  <!-- Process Definition complexType -->
  <!-- Bssic Process -->
  <!-- Process Definition :: Calls --> 
  <!-- Process Definition :: Binary -->
  
  <!-- Process Definition :: Unary :: Declaration :: Iterated -->
  
  <!-- Process Definition :: Unary :: Declaration :: Iterated :: Indexed -->

  <!-- Process Paragraphs complexTypes -->

  <!-- Name Set Expression complexTypes -->

  <!-- Action complexType -->    
  
  <!-- CSP Action complexType -->
  
  <!-- CSP Action complexType :: Unary -->

  <!-- Deadline Action -->
 
  
  <!-- CSP Action complexType :: Unary :: Declaration :: Iterated -->
  <!-- CSP Action complexType :: Binary -->

  <!-- Timout Action -->
  
  
  <!-- Lists used by Circus terms --> 
  
  
  <!-- CSP Communication complexType -->
  
  <!-- CSP Communication parameters complexType -->
  
  <!-- Parameterised Commands complextype -->  
  <!-- Circus Commands complextype -->
  <!-- Circus predicates -->
  
  <!-- Additional Circus actions for Local Environments of the operational semantics -->
  
  <!-- Circus Types and Signatures -->  
  
  
  <!-- Term annotation complex types -->
  
</xs:schema>
